setuptools
flask
wheel
flask_restful
sqlalchemy==2.0.15
flask_api
flask_migrate
flask_sqlalchemy
flask_httpauth
werkzeug
basicauth
requests
python-dateutil
urllib3
gunicorn
jsonschema
flask_jsontools
psycopg2-binary
pyinstaller
six
web3
py-solc-x
PyPDF3
pyttsx3
